@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, @_userName!</h1>

Welcome to your new app.

@code
{
    private string? _userName;
    private string? _userEmail;

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            _userName = user.Identity.Name; // The user's name
            _userEmail = user.FindFirst(c => c.Type == "emails")?.Value; // Access email claim
        }
    }
}
